
<div class ="contents row">
  <div class="content_post" style="background-image: url(<%= @food.food_images.first.image %>);">
   <%= @food.name %>


  </div>
   
   <%= @food.address %>



    <div class="comments">   
      <h4>＜コメント一覧＞</h4>
      <% if @food.comments %>
        <% @food.comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.email, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.content %>
          </p>
        <% end %>
      <% end %>
    </div>
</div>

<div class="contents row">
  <%= form_for(@comment) do |f|  %>
    <h3>
      コメント
    </h3>
   <!--  <%= f.text_field :content %> -->
    <!-- <input placeholder="Theme" type="text" > -->
    <%= f.text_area :content, col:"30", rows:"10" %>
   <!--  <textarea cols="30" name="text" placeholder="text" rows="10"></textarea> -->
   <%= f.hidden_field :food_id, value: @food.id %>
   <%= f.submit "comment" %>
   <!--  <input type="submit" value="SENT"> -->
  <% end %>
</div>